.category-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categories{
    display: block;
}

#box-section{
    display: flex;
    flex-direction: column;
}

#pita-section{
    display: flex;
    flex-direction: column;
}

#tortilla-section{
    display: flex;
    flex-direction: column;
}