<div class="category-cards">
   <app-category-card
        [item]="categoryCardBox"
        [targetId]="'box-section'"
        (navigate)="scrollTo($event)">
    </app-category-card>
    <app-category-card
        [item]="categoryCardPita"
        [targetId]="'pita-section'"
        (navigate)="scrollTo($event)">
    </app-category-card>
    <app-category-card
        [item]="categoryCardTortilla"
        [targetId]="'tortilla-section'"
        (navigate)="scrollTo($event)">
    </app-category-card>
</div>

<div class="categories"> 
  <app-box-categ-list id="box-section"></app-box-categ-list>
  <app-pita-categ-list id="pita-section"></app-pita-categ-list>
  <app-tortilla-categ-list id="tortilla-section"></app-tortilla-categ-list>
</div>


<!--
@if (menu(); as m) {
  <div>
    <h3>Húsok</h3>
    <ul>
      @for (meat of m.ingredients.meats; track meat) {
        <li>
          {{ meat }} <button (click)="selectMeat(meat)">Választ</button>
        </li>
      }
    </ul>

    <h3>Köretek</h3>
    <ul>
      @for (s of m.sides; track s) {
        <li>{{ s }}</li>
      }
    </ul>
  </div>
} @else {
  <p>Menü betöltése...</p>
}-->





