<div class="search-filter-container p-3 p-md-4">
  <mat-divider></mat-divider>
  <h2 class="my-4 h2 text-center">Termék keresés és szűrés</h2>
  <!-- Search Input -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Keresés a termékek között...</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange()"
      placeholder="Pl. Csirke, gyrostál..."
    />
  </mat-form-field>

  <!-- Filter Chips -->
  <div class="mt-2">
    <h3 class="h6">Szűrők</h3>
    <mat-chip-listbox multiple aria-label="Filter selection">
      @for (filter of availableFilters; track filter) {
      <mat-chip-option
        (click)="onFilterSelectionChange(filter)"
        [selected]="selectedFilters.has(filter)"
      >
        {{ filter }}
      </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <mat-divider class="my-4"></mat-divider>
</div>
