.example-card {
    max-width: 400px;
    margin: 20px;
}

.title-group {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

