<div class="pb-3 mb-3">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Üdvözöljük a Szerelem Gyrosnál!</h1>
        <img src="../../../assets/images/logos/favicon.ico" alt="Szerelem Gyros" class="mb-4" style="width: 256px; height: 256px;"/>
        <p class="fs-5 col-md-10 mx-auto">Fedezze fel ízletes menünket, és rendelje meg kedvenc ételeit online! Kínálatunkban megtalálhatók a legfinomabb gyros tálak, piták és tortillák, friss alapanyagokból.</p>
        <mat-icon class="fw-bold mt-5">arrow_downward</mat-icon>
    </div>
</div>