<mat-sidenav-container class="sidenav-container" hasBackdrop="true">
  <mat-sidenav #drawer mode="push" class="app-sidenav" style="width:240px;">
    <nav class="d-flex flex-column gap-3 mt-4 p-3" style="min-height: calc(100vh - 64px - 32px);">
      <button mat-button routerLink="/" class="d-flex align-items-center">
        <mat-icon fontIcon="fastfood"></mat-icon>
        <span class="ms-2">Menük</span>
      </button>

      <button mat-button routerLink="/gyros-maker" class="d-flex align-items-center">
        <mat-icon fontIcon="kebab_dining"></mat-icon>
        <span class="ms-2">Készítsd el a sajátod</span>
      </button>

      <button mat-button routerLink="/cart" class="d-flex align-items-center">
        <mat-icon fontIcon="shopping_cart"></mat-icon>
        <span class="ms-2">Kosár</span>
      </button>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-hidden">
    <mat-toolbar class="sticky-top">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ms-2">Szerelem Gyros - {{currentPage}}</span>
    </mat-toolbar>

    <div class="page-content p-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>