<mat-sidenav-container class="sidenav-container" hasBackdrop="true">
  <mat-sidenav #drawer mode="push" class="app-sidenav">
    <nav class="links">
      <button mat-button routerLink="/">
        <mat-icon fontIcon="fastfood"></mat-icon>
        Menük
      </button>
      <button mat-button routerLink="/gyros-maker">
        <mat-icon fontIcon="kebab_dining"></mat-icon>
        Készítsd el a sajátod
      </button>
      <button mat-button routerLink="/cart">
        <mat-icon fontIcon="shopping_cart"></mat-icon>
        Kosár
      </button>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Szerelem Gyros - </span><!--<span>{{currentPage}}</span>-->
    </mat-toolbar>

    <!-- a komponensbe beszúrt tartalom (pl. router-outlet) itt lesz -->
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>